<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>EXChatGPT</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://s3.pstatp.com/cdn/expire-1-M/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/prism.css') }}">
  <script src="{{ url_for('static', filename='styles/prism.js') }}"></script>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
  </script>
</head>

<body>
  <!-- partial:index.partial.html -->
  <div class="container">
    <div class="sidebar">
      <button class="new-chat">
        <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
          stroke-linejoin="round" class="h-4 w-4" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
          <line x1="12" y1="5" x2="12" y2="19"></line>
          <line x1="5" y1="12" x2="19" y2="12"></line>
        </svg>
        New chat
      </button>
      <ul class="sidebar-list">
      </ul>
    </div>
    <div class="chat-page">
      <section class="msger">
        <header class="msger-header">
          <div class="msger-header-title">
            🤖️EXChatGPT Model: <span> </span>GPT3.5-Turbo
          </div>
        </header>
        <main class="msger-chat">
        </main>
      </section>
      <div class="row">
        <div class="col col-first">
          <form>
            <select class="mode-selection" id="mode" name="mode">
              <option value="web">web</option>
              <option value="chat">chat</option>
              <option value="WebKeyWord">WebKeyWord</option>
              <option value="webDirect">webDirect</option>
              <option value="detail">detail</option>
            </select>
            <br>
          </form>
        </div>
        <div class="col">
          <form class="msger-inputarea">
            <textarea type="text" class="msger-input" id="textInput" placeholder="..."></textarea>
            <button type="submit" class="msger-send-btn">↵</button>
          </form>
        </div>
      </div>
    </div>

  </div>

  <script>
    const msgerForm = get(".msger-inputarea");
    const msgerInput = get(".msger-input");
    const msgerChat = get(".msger-chat");
    const msger = get(".msger");
    const BOT_IMG = "static/styles/ChatGPT_logo.png";
    const PERSON_IMG = "static/styles/person.jpg";
    const BOT_NAME = "EXChatGPT";
    const PERSON_NAME = "You";
    const CHECK_IMG = "static/styles/check.png";
    function appendAPIresults(name, img, side, text) {
      //   Simple solution for small apps
      const msgHTML = `
    <div class="msg-api">
      <div class="msg-text"><img class="check-img" src="${CHECK_IMG}" alt="Check mark"><b>${name}: </b>${text}</div>
    </div>
`;
      msgerChat.insertAdjacentHTML("beforeend", msgHTML);
      msger.scrollTop = msger.scrollHeight;
    }
    function fetchData() {
      fetch('/api/APIProcess')
        .then(response => response.json())
        .then(data => {
          if (data.hasOwnProperty('calls')) {
            console.log(data)
            data.calls.forEach(message => {
              appendAPIresults(message.API, BOT_IMG, 'left', message.query);
              msger.scrollTop = msger.scrollHeight;
            });
          }
        })
        .catch(error => console.error(error));
    }
    setInterval(fetchData, 1000);
    //load History
    var intervalId = setInterval(pollFunction, 200);
    function pollFunction() {
      var result = loadHistory();
      if (result !== null) {
        clearInterval(intervalId);
      }
    }
    function loadHistory() {
      if (document.querySelector('.sidebar-list').hasChildNodes() == false) {
        return null;
      }
      // Fetch chat history from server
      while (msgerChat.firstChild) {
        msgerChat.removeChild(msgerChat.firstChild);
      }
      appendMessage(BOT_NAME, BOT_IMG, "left", "Hello, I'm EXChatGPT, what can I help you?😄", null, '');
      console.log(document.querySelector('.sidebar-list'));
      const uuid = document.querySelector('.sidebar-list').firstElementChild.getAttribute('uuid');
      console.log(uuid);
      fetch('/api/history?uuid=' + uuid)
        .then(response => response.json())
        .then(data => {
          data.forEach(message => {
            appendMessage(message.name, message.img, message.side, message.text, null, message.time);
          });
          markdownMathRender();
        })
        .catch(err => console.error(err));
      return uuid;
    }
    function submit() {
      const mode = document.getElementById("mode").value;
      const msgText = msgerInput.value;
      messageHistory.unshift(msgText);
      const uuid = document.querySelector('.sidebar-list').firstElementChild.getAttribute('uuid');
      if (!msgText) return;
      console.log(msgText)
      appendMessage(PERSON_NAME, PERSON_IMG, "right", msgText, mode, formatDate(new Date()));
      msgerInput.value = "";
      botResponse(msgText, mode, uuid);
    }
    msgerForm.addEventListener("submit", event => {
      event.preventDefault();
      submit();
    });
    function appendMessage(name, img, side, text, mode, time) {
      let chatInfo = '';
      if (mode != null) {
        chatInfo = `
        <div class="msg-info-mode">${mode}</div>
        <div class="msg-info-time">${time}</div>
        `;
      } else if (time != '') {
        chatInfo = `
        <div class="msg-info-time">${time}</div>
        `;
      }
      const msgHTML = `
<div class="msg ${side}-msg">
  <div class="msg-img" style="background-image: url(${img})"></div>
  <div class="msg-bubble">
    <div class="msg-info">
      <div class="msg-info-name">${name}</div>
      ${chatInfo} 
    </div>
    <div class="msg-text">${text}</div>
  </div>
</div>
`;
      msgerChat.insertAdjacentHTML("beforeend", msgHTML);
      msger.scrollTop = msger.scrollHeight;
    }
    function markdownMathRender() {
      Prism.highlightAll();
      const script1 = document.createElement("script");
      script1.src = "https://polyfill.io/v3/polyfill.min.js?features=es6";
      document.body.appendChild(script1);
      const script2 = document.createElement("script");
      script2.src = "https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js";
      document.body.appendChild(script2);
      window.MathJax = {
        tex: {
          inlineMath: [['$', '$'], ['\\(', '\\)']]
        }
      };
    }
    function botResponse(rawText, mode, uuid) {
      $.get("/api/query", { mode: mode, msg: rawText, uuid: uuid }).done(function (data) {
        console.log(rawText);
        console.log(data);
        const msgText = data;
        appendMessage(BOT_NAME, BOT_IMG, "left", msgText, mode, formatDate(new Date()));
        markdownMathRender();
      });
    }
    // Utils
    function get(selector, root = document) {
      return root.querySelector(selector);
    }
    function formatDate(date) {
      const h = "0" + date.getHours();
      const m = "0" + date.getMinutes();
      return `${h.slice(-2)}:${m.slice(-2)}`;
    }
    const textarea = document.querySelector('textarea');
    function selectNextMode() {
      const modeSelect = document.getElementById('mode');
      const selectedIndex = modeSelect.selectedIndex;
      const nextIndex = selectedIndex + 1;
      if (nextIndex < modeSelect.options.length) {
        modeSelect.selectedIndex = nextIndex;
      } else {
        modeSelect.selectedIndex = 0; // wrap around to the first option
      }
    }
    let messageHistory = []; // array to store sent messages
    messageHistory.unshift('');
    let currentMessageIndex = 0;
    textarea.addEventListener('keydown', (event) => {
      if (event.shiftKey && event.key == 'Enter') {
        const cursorPos = msgerInput.selectionStart;
        const currentValue = msgerInput.value;
        const newValue = currentValue.substring(0, cursorPos) + '\n' + currentValue.substring(msgerInput.selectionEnd);
        msgerInput.value = newValue;
        msgerInput.selectionStart = cursorPos + 1;
        msgerInput.selectionEnd = cursorPos + 1;
        event.preventDefault();
      } else if (event.key == 'Enter') {
        event.preventDefault();
        submit();
        currentMessageIndex=0;
      }
      if (event.key == 'Tab') {
        event.preventDefault();
        selectNextMode();
        updateSelectWidth();
      }
      if (event.key === "ArrowUp") {
        if (messageHistory.length > 0 && currentMessageIndex >=0) {
          event.preventDefault();
          msgerInput.value = messageHistory[currentMessageIndex];
          currentMessageIndex++;
          currentMessageIndex = currentMessageIndex%messageHistory.length;
        }
      }else if (event.key === "ArrowDown") {
        if (messageHistory.length > 0 && currentMessageIndex >=0 && currentMessageIndex < messageHistory.length) {
          event.preventDefault();
          msgerInput.value = messageHistory[currentMessageIndex];
          currentMessageIndex = (currentMessageIndex + messageHistory.length -1)%messageHistory.length;
        }
    }
    });
    textarea.style.height = '45px';
    textarea.style.paddingTop = '10px';
    textarea.addEventListener('input', () => {
      textarea.style.height = 'auto';
      if (textarea.scrollHeight < 80) {
        textarea.style.height = '45px';
      } else if (textarea.scrollHeight > 400) {
        textarea.style.height = `400px`;
      } else {
        textarea.style.height = `${textarea.scrollHeight + 5}px`;
      }
    });
    const select = document.getElementById('mode');
    function updateSelectWidth() {
      const selectedOption = select.options[select.selectedIndex];
      const selectedOptionWidth = selectedOption.text.length * 9 + 7;
      select.style.width = selectedOptionWidth + 'px';
    }
    updateSelectWidth();
    select.addEventListener('change', updateSelectWidth);
  </script>
  <script src="{{ url_for('static', filename='styles/newChat.js') }}"></script>
</body>

</html>