[Google]
GOOGLE_API_KEY = x
SEARCH_ENGINE_ID = x
[OpenAI]
key0 = sk-xxxx
key1 = sk-xxxx
key2 = sk-xxxx
[WolframAlpha]
WOLFRAMALPHA_APP_ID = xxxx
[Proxy]
api_proxy = https://api.openai.com/v1/chat/completions
[Azure]
subscriptionKey = xxx
region = xxx