[Google]
GOOGLE_API_KEY0 = x
SEARCH_ENGINE_ID0 = x
[OpenAI]
key0 = sk-xxxx
key1 = sk-xxxx
key2 = sk-xxxx
[WolframAlpha]
WOLFRAMALPHA_APP_ID0 = xxxx
[Proxy]
api_proxy = 
[Azure]
subscriptionKey = xxx
region = xxx